
  .easy-basket-filter {
      display: flex;
      flex-direction: column;
      width: 80%;
      margin: 30% 0 20% 5%;
      position: relative;
  }

  .fill {
      height: 3px;
      width: 100%;
      background-color: #01BAB0;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
  }
  .easy-basket-filter-info {
      box-sizing: border-box;
      padding: 0;
      width: 100%;
      justify-content: space-between;
      position: absolute;
      top: -50px;
  }
  .easy-basket-filter-info p{
      color: #fff;
      padding: 3px 10px;
      background-color: #01BAB0;
      border-radius: 4px;
      margin:0;
  }
  .easy-basket-filter-info .iLower{
      float:left;
      display: inline-block;

    }
    .easy-basket-filter-info .iUpper{
        float:right;
        display: inline-block;
  }
  /* .easy-basket-filter-info p:after{
      border-color: #01BAB0 transparent transparent;
      content: "";
      position: absolute;
      bottom: -3px;
      border-color: #01BAB0 transparent transparent;
      border-style: solid;
      border-width: 3px 4px;
      -webkit-transform: translate(-50%, 50%);
      transform: translate(-50%, 50%);
      font-size: 15px;
  }
  .easy-basket-filter-info .iLower:after{
      left: 9px;
  }
  .easy-basket-filter-info .iUpper:after{
      right: 1px;
  } */
  .easy-basket-filter-info input{

      border: none;
      color: #fff;
      font-size: 16px; 
      background-color: #01bab0;
      width: 40px;
      text-align:center;
  }
  /***** Position dual *****/
  .range {
      position: absolute;
      left: 0;
      top: 0;
  }
  
  /****** Style range ******/
  input[type=range] {
      -webkit-appearance: none;
      width: 100%;
      margin: 0;
      background: transparent;
  }
  
  input[type=range]::-webkit-slider-thumb {
      -webkit-appearance: none;
      cursor: pointer;
      position: relative;
      z-index: 3;
  }
  
  input[type=range]:focus, input[type=text]:focus {
      outline: none;
  }
  input[type=range]::-webkit-slider-thumb {
      -webkit-appearance: none;
      height:20px;
      width: 20px;
      border: 5px solid #f1f1f1;
      box-shadow: 0 1px 5px -1px rgba(0, 0, 0, 0.5);
      border-radius: 100%;
      background: #01BAB0;
      cursor: pointer;
      margin-top: -9px;
  }
  input[type=range]::-webkit-slider-runnable-track {
      width: 100%;
      height: 3px;
      cursor: pointer;
      background: #707D7D;
      border-radius: 1.3px;
  }
  
  input[type=range].lower::-webkit-slider-runnable-track {
      background: red;
  }

  
  